@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "pages/home";

@import "components/buttons";
@import "components/composition";
@import "components/feature-box";
@import "components/cards";
@import"components/story";
@import"components/bg-video";
@import"components/form";
@import"components/popup";

@import "base/animations";
@import "base/typographys";
@import "base/utilities";
@import "base/base";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";
